@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
    background-color: rgb(42, 124, 110,0.8);
    color: #fff;
    overflow: hidden;
}
/* login styling = index.html */
.form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}

.form-container .img-background{
    width: 50%;
    height: 100%;
}

.form-container form{
    padding: 20px 30px;
    width: 350px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.form-container form h3{
    text-align: center;
}


.fields div{
    background-color: #fff;
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 0 10px 20px;
}

.fields input{
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 14px;
    width: 250px;
    font-family: 'Poppins', serif;
}

#submit{
    font-family: 'Poppins', serif;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px 15px;
    color: #fff;
    width: 319px;
    font-weight: 500;
    cursor: pointer;
    transition: .5s ease-in;
    margin-bottom: 10px;
    background-color: rgb(148, 15, 10);
}

#submit:hover{
    background-color: rgb(61, 5, 3);
}

a{
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
}

/* dashboard styling */
.container{
    width: 100%;
    height: 100vh;
    color: black;
    position: relative;
}

.user-profile{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.356);
    display: none;
}

.user-profile .name{
    margin-top: 10px;
}

.user-profile .profile{
    position: relative;
    padding: 30px 120px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.user-profile .profile input{
    outline: none;
    border: none;
    width: 60%;
    padding: 5px 10px;
    background-color: #f7f7f7;
    border-bottom: 1px solid gray;
}

.user-profile .profile .pass-field{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-profile .profile .pass-field label{
    width: 50%;
}

.savebtn{
    margin: 20px 0 10px;
}

#save-btn{
    color: #fff;
    border: none;
    outline: none;
    margin-left: 50%;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;
    background-color: rgb(12, 108, 204);
}

#save-btn:hover{
    background-color: dodgerblue;
}

#user-profile-exit{
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(231, 230, 230);
    cursor: pointer;
}

#user-profile-exit:hover{
    background-color: rgb(175, 173, 173);
}

.sidebar{
    position: fixed;
    width: 220px;
    height: 100vh;
    padding-left: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.title{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 20px 20px;
}

#logo{
    font-size: 22px;
}

.sidebar li{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    border-radius: 30px 0 0 30px;
}

.sidebar li:hover, .sidebar li.active{
    background-color: #F4F4F4;
    color: rgb(42, 124, 110);
}

.sub-container{
    position: fixed;
    margin-left: 230px;
    background-color: #F4F4F4;
    height: 100vh;
    width: calc(100% - 230px);
}


.top-bar{
    height: 60px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.top-bar h3{
    text-transform: uppercase;
}

.toggler{
    display: flex;
    align-items: center;
    gap: 10px;
}

#hamburger{
    font-size: 20px;
    cursor: pointer;
}

.search{
    border: 1px solid gray;
    padding: 8px 20px;
    border-radius: 30px;
}

.search input, .search button{
    outline: none;
    border: none;
    font-family: 'Poppins', serif;
    font-size: 14px;
}

.search button{
    cursor: pointer;
    transition: .5s;
    border-radius: 50%;
}

.search button:hover{
    color: rgb(13, 148, 42);
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    padding: 5px 15px;
    cursor: pointer;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

.user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user p, .user h4{
    margin: 0;
    padding: 0;
}

.details h4, .details p{
    font-size: 14px;
}

.content{
    height: calc(100vh - 100px);
    padding: 20px;
    overflow-y: auto;
}

.content .boxes{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.content .boxes .box{
    padding: 0 20px;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    color: rgb(42, 124, 110);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    height: 50%;
    padding-top: 20PX;
}
.box .tt h1{
    color: rgb(5, 126, 248);
}
.box .tt h1, .tt i{
    padding: 0;
    font-size: 50px;
}

.box p{
   text-align: right;
}

.chart{
    padding: 20px 0;
}


/* Subscribers tab */
.subscriber-contentpane{
    max-height: calc(100vh - 72px);
    overflow: auto;
    width: 100%;
}
.subscriber-contentpane table{
    width: calc(95% - 20px);
    height: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.subscriber-contentpane table tr th{
    color: rgba(34, 34, 34);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.subscriber-contentpane table td{
    padding: 5px 10px;
}

.subscriber-contentpane table tr:first-child{
    text-align: left;
}

/* social-media section */
.sites-contentpane{
    display: flex;
    flex-direction: column;
}

.sites-contentpane h4{
    text-align: center;
    padding-top: 20px;
    margin: 0;
    color: rgb(42, 124, 110);
}

.smboxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 40px;
}

.smbox{
    width: 400px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

.box-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-logo i{
    font-size: 40px;
}

.link-field{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    margin-left: 5%;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 0 20px;
}

.link-field p{
    font-weight: 500;
    text-transform: uppercase;
}

.link-field input{
    width: 90%;
    font-family: 'Poppins', serif;
    outline: none;
    height: 30px;
    color: rgb(8, 89, 238);
    transition: 1s;
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding-right: 10px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}

.link-field input:focus{
    border: none;
    border-bottom: 1px solid rgb(42, 124, 110);
}

#save-links{
    width: fit-content;
    background-color: rgb(5, 130, 255);
    outline: none;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', serif;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0 auto;
    transition: .5s;
    /* box-shadow: 0 0 5px dodgerblue; */
}

#save-links:hover{
    background-color: rgb(7, 120, 233);
    box-shadow: 0 0 10px rgb(7, 120, 233);
}

.sites-contentpane, .subscriber-contentpane, .content{
    animation: bringPanel 1s forwards;
}

@keyframes bringPanel {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.tab{
    display: none;
}

/* contact forms */
.Contact-contentpane{
    width: calc(100% - 40px);
    margin: 5px;
    padding: 5px 10px 10px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.Contact-contentpane table{
    width: 100%;
    margin: 5px auto;
    border-top: 1px solid gray;
}

.Contact-contentpane table th{
    text-align: left;
}

/* resources tab */
.resource-contentpane{
    margin: 5px;
    padding: 20px;
    height: calc(100vh - 120px);
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.library-link{
    gap: 20px;
    display: flex;
    align-items: center;
}

.change-link{
    border-radius: 30px;
    border: 1px solid gray;
}

.change-link input{
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: transparent;
}

.change-link .update-library-link{
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid gray;
    transition: .5s ease-in-out;
    background-color: rgba(42, 124, 110, 0.644);
}

.change-link .update-library-link:hover{
    background-color: rgb(226, 93, 166);
}

.iframe-section h3{
    text-align: center;
}

.iframe-links{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.iframe-link{
    width: 40%;
    display: flex;
    overflow: hidden;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

.iframe-link input{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px 20px;
}

.iframe-link input:first-child{
    flex-grow: 1;
}

.iframe-link .remove-video{
    width: 20%;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(42, 124, 110, 0.8);
}

.add-iframe{
    /* width: 80%; */
    margin: 20px 0;
}

.add-iframe input{
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
    transition: .5s ease-in-out;
    background-color: rgb(22, 94, 167);
}

.add-iframe input:hover{
    box-shadow: 0 0 10px rgb(22, 94, 167);
}

/* news and events */
.news-events-contentpane{
    margin: 5px;
    padding: 5px 10px;
    width: calc(100% - 20px);
    height: calc(100vh - 100px);
    background-color: #fff;
    overflow-y: auto;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.News{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.news{
    width: 30%;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.news input{
    width: calc(100% - 10px);
    height: 10%;
    border: none;
    outline: none;
    padding-left: 5px;
}

.news .paragraph{
    height: 65%;
} 

.add-news{
    padding: 10px 0;
}

.add-news input{
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
    background-color: rgb(23, 111, 199);
}